.red {
    color: red
}

. big {
    font-size: 60px;
}

#strikeout {
    text-decoration: line-through;
}

.blue {
    color: blue
}
.massive {
    font-size: 100px;
    font-family: cursive;
    font-weight: 200;
}